.inputbox {
  position: relative;
  padding: 10px 0;
}

.inputbox input,
.inputbox textarea,
.inputbox select {
  width: 100%;
  padding: 10px;
  border: 1px solid grey;
  //   background: #1d2b3a;
  border-radius: 5px;
  outline: none;
  //   color: white;
  font-size: 1em;
  transition: 0.5s;
}

.inputbox textarea {
  resize: none;
}

.inputbox span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: black;
  text-transform: uppercase;
  transition: 0.5s;
}

.inputbox .eyeIcon {
  position: absolute;
  right: 7px;
  top: 23px;
  cursor: pointer;
}

.inputbox input::placeholder {
  opacity: 0;
}

.inputbox input:focus::placeholder {
  opacity: 1;
}

.inputbox input:not(:placeholder-shown) ~ span,
.inputbox input:focus ~ span,
.inputbox textarea:not(:placeholder-shown) ~ span,
.inputbox textarea:focus ~ span,
.inputbox select:not(:placeholder-shown) ~ span,
.inputbox select:focus ~ span {
  color: rgb(37, 36, 36);
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background-color: white;
  border-left: 1px solid peachpuff;
  border-right: 1px solid peachpuff;
  letter-spacing: 0.2em;
}

.inputbox input:not(:placeholder-shown),
.inputbox input:focus,
.inputbox textarea:not(:placeholder-shown),
.inputbox textarea:focus,
.inputbox select:not(:placeholder-shown),
.inputbox select:focus {
  border: 1px solid peachpuff;
}
