@import "styles/utils";

.settingContainer {
  max-width: 100vw;
  padding: 50px 100px;
  display: grid;
  gap: 1rem;

  .inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

  .previewContainer {
    height: 50%;
  }

  .previewContainer .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .previewContainer .container .main {
    min-height: auto;
    width: 100%;
  }

  @include media(">tablet") {
    grid-template-columns: repeat(3, 1fr);

    .inputContainer {
      grid-column-start: 1;
      grid-column-end: 2;
    }
    .previewContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-column-start: 2;
      grid-column-end: 4;
    }
  }
}
